body {
    font-size: 16px;
    font-family:'Courier New', Courier, monospace;
}


/* Start Game Intro - screen I */

#opening-screen {
/* To display chagne display to flex */
    display: flex;

    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-image: url(../images/athletics-track.jpeg);
    background-position: bottom;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

#start{
    border-radius: 2rem;
    font-weight: 100;
    font-size: x-large;
    margin-bottom: 10rem;
    border: 0px;
    font-weight: 600;
    height: 3rem;
    width: 17rem;
}

#start:hover {  
    opacity: 0.9;
    background-color: rgb(158, 255, 13);
    color: rgb(94, 12, 12);
    font-weight: 800;
    cursor: pointer;
    border: solid 3px rgb(158, 255, 13);
}

#opening-screen p {
    text-align: center;
    font-size: xx-large;
    font-weight: 600;
    margin-bottom: 3rem;
}

/* Instruction Intro screen - II */

#instructions {
/* To display chagne display to flex */
    display: none;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    height: 30rem;
    background-image: url(../images/athletics-track.jpeg);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;    
    font-weight: 600;
}

#instructions h1 {
    text-align: center;
    font-size: 3rem;
    margin: 7rem 0 2rem 0;
}

#instructions p {
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

#start-game {
    width: 17rem;
    height: 6rem;
    margin-bottom: 6.5rem;
    font-weight: 700;
    font-size: larger;
    border-radius: 2rem;
    border: 0;
    font-weight: 600;
    font-size: x-large;
}

#start-game:hover {  
    opacity: 0.9;
    cursor: pointer;
    background-color: rgb(158, 255, 13);
    color: rgb(94, 12, 12);
    border: solid 3px rgb(158, 255, 13);
    font-weight: 800;
}

.instruction-info-buttons {
    display: flex;
    justify-content: space-around;
    text-align: center;
    margin: 0 2em;
    height: 60vh;
}

.instruction-info-buttons p {
    width: 40vw;
    padding: 0 2rem;
}

.button-instruction {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.button-instruction div {
    display: flex;
    flex-wrap: wrap;
}

/* instruction btn arrow */
.button-instruction div:first-of-type img {
    height: 3rem;
    margin-bottom: 1rem;
} 

.button-instruction div:first-of-type p {
    width: 20vw;
}

/* instruction btn space */
.button-instruction div:nth-child(3) img{
    height: 1.5rem;
}

.button-instruction div:nth-child(3) p {
    width: 20vw;
}

/* instruction btn C */
.button-instruction div:last-of-type img {
    height: 2rem;
}
.button-instruction div:last-of-type p {
    width: 20vw;
}


/* game container - screen III */

#game-container {
    display: none;
    flex-direction: column;
    justify-content: center;
    font-weight: 600;
}

#skyline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: url(../images/cartoonCloud.png); 
    background-size: cover;
    background-position: bottom;
    height: 50vh;
    width: 100vw;
    background-color: rgb(71, 186, 201); 
    animation: cloud 500s linear infinite ;
} 

@keyframes cloud {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 0 -1000px;
    }
  }

.live-stats {
    padding: 20px;
    display: flex;
    flex-direction: column-reverse;
}

.live-stats p { 
    margin-bottom: 2rem;
    font-size: x-large;
}

 /* poping up - disappear  */
#colision-hapens {
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 1.5rem;
}

#game-screen {
    display: block;
    /* background-image: url(../images/road.jpg); */
    background-size: cover;
    width: 100vw;
    height: 50vh;
    position: absolute;
    top:50vh;
    z-index: -1;
}

#road-strip {
    display: flex;
    align-content: center;
    justify-content: center;
    background-image: url(../images/road-strip.png);
    background-size: cover;
    animation: slide 7s linear infinite;
    width: 1vw;
    height: 74vh;
    z-index: 1;
    position: fixed;
    overflow: hidden;
    top: 27vh;
    left: 47vw;
  }

  

  @keyframes slide {
    0% {
      background-position: 0 -1000px;
    }
    95% {
      background-position: 0 0;
    }
    100% {
      background-position: 0 50px;
    }
  }

  #game-screen img:first-of-type {
    width: 100vw;
    height: 50vh;
  }
 
  .player {
    position: absolute;
    top: 25vh;
    left: 36vw;
    width: 15vw;
    height: 18vh;
    z-index: 1;
    transform: translateX(0%);
    transition: transform 0.2s ease-out;
  }

/* next-levels or game over - screen IV */

#level-or-game-end {
/* To display chagne display to flex */
    display: none;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../images/end-screen.jpeg);
    background-size: cover;
    background-position: top;
    width: 100vw;
    height: 100vh;
}

#level-or-game-end div:first-of-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
    font-weight: 600;
    font-size: xx-large;
}

#level-or-game-end div:first-of-type div:first-of-type p{
    margin: 1rem 0 2rem 0;
  
}

#level-or-game-end div:first-of-type button:first-of-type {
    width: 30rem;
    height: 3rem;
    border-radius: 2rem;
    font-weight: 900;
    font-size: x-large;
    border:3px
}

#next-level:hover {
    cursor: pointer;
    background-color: rgb(158, 255, 13);
    border: solid 3px rgb(158, 255, 13);
    color: rgb(94, 12, 12);
    font-weight: 900;
    opacity: 0.9;
}

#level-or-game-end div:last-of-type {
    margin-bottom: 3rem;
}

/* buttons */

#level-or-game-end div:last-of-type button {
    border: 0px;
    width: 10rem;
    height: 2.8rem;
    border-radius: 2rem;
    font-weight: 900;
    font-size: x-large;
    color: rgb(0, 0, 0);
}

#level-or-game-end div:last-of-type button:hover {
    opacity: 0.8;
    cursor: pointer;
    color: rgb(94, 12, 12);
    border: solid 3px rgb(158, 255, 13);
    background-color: rgb(158, 255, 13);
    font-weight: 800;
}

.win-text{

}