body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family:'Courier New', Courier, monospace;
}


/* Start Game Intro - screen I */

#opening-screen {
/* To display chagne display to flex */
    display: none;

    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    margin-top: 5rem;
    background-image: url(../Image/depositphotos_5295820-Sports-athletics-track.jpeg);
    background-position: bottom;
    background-size: cover;
    height: 30rem;
}

#opening-screen button {
    border-radius: 2rem;
    font-weight: 600;
    font-size: x-large;
    margin-bottom: 7.5rem;
}

#opening-screen p {
    text-align: center;
    font-size: xx-large;
    font-weight: 600;
}

/* Instruction Intro screen - II */

#instructions {
/* To display chagne display to flex */
    display: none;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
    height: 30rem;
    background-image: url(../Image/depositphotos_5295820-Sports-athletics-track.jpeg);
    background-size: cover;
    background-position: center;
    
}

#instructions h1 {
    text-align: center;
    font-size: 3rem;
}

#instructions p {
    font-size: 1.4rem;
    font-weight: 400;
}

.instruction-info-buttons {
    display: flex;
    justify-content: space-around;
    margin: 0 1rem;
}

.instruction-info-buttons p {
    width: 40vw;
    padding: 0 2rem;
}

.button-instruction {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-instruction div:first-of-type img {
    height: 3rem;
    margin-bottom: 1rem;
} 

.button-instruction div:last-of-type img {
    height: 2rem;
}

.instruction, button {
    width: 17rem;
    height: 3rem;
    margin-top: 1rem;
    font-weight: 700;
    font-size: larger;
    border-radius: 2rem;
    font-weight: 600;
    font-size: x-large;
}

/* game container - screen III */

#game-container {
    display: none;
}

/* next-levels or game over - screen IV */

#level-or-game-end {
/* To display chagne display to flex */
    display: flex;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../Image/end-screen.jpeg);
    background-size: cover;
    background-position: top;
}

#level-or-game-end div:first-of-type {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
    font-weght: 600;
    font-size: x-large;
}

#level-or-game-end div:first-of-type button {
    width: 30rem;
}

#level-or-game-end div:last-of-type {
    margin-bottom: 3rem;
}